.nav-item {
    color: black !important;
    max-width: 200px;
    margin: 10px;
    box-shadow: 8px 10px 10px 1px rgba(0, 0, 0, 0.5);
}

.nav-item :hover {
    color: rgba(227, 152, 13, 0.804) !important;
}

.estaActivado {
    color: #fff !important;
    font-size: 20px;
    text-decoration: none !important;
    margin: 0 10px;
}

.noActivado {
    color: #fff !important;
    font-size: 20px;
    text-decoration: none !important;
    margin: 0 10px;
}

.logoNav {
    display: flex;
    background-color: black;
    justify-content: space-around;
    align-items: center;
    min-height: 50px;
    width: 100%;
    border-bottom: 1px solid rgba(227, 152, 13, 0.804);
}

.navbar {
    margin-bottom: 80px !important;
}

.navbar-toggler-icon {
    color: #fff;
}