/* todo los css de detalles  */
.card{
    background-color: #191919 !important;
}
.cardDetail{
    max-width: auto !important;
    height:auto !important;
    border: 1px solid  !important;
    border-radius: 15px !important;
}

.imgDetail :hover{
    -webkit-transform: scale(1.2, 1.2);
    -moz-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
}
.imgDetail{
    margin: 20px !important;
}

.imgDetail2{
    height: 400px;
    width: 100%;
}

.restDetail{
    max-width: 740px;
    margin: 10px 20px;
}
.card-title{
    color: #F8B400 !important;
    font-size: 28px;
    font-weight: 700;
}
.descripcion{
    color: #fff;
    max-width: 500px;
}
.precioDetail{
    color: #F8B400;
    font-size: 22px;
}

@media screen and (max-width: 820px){
    .imgDetail{
        margin: 0 !important;
    }
}






